<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pandora.uae4all.sdl"
      android:versionCode="3005"
      android:versionName="2.3.5.3-5"
      android:installLocation="auto"
      android:sharedUserId="psychoworld.retrobox"
>
    <uses-sdk android:minSdkVersion="12" android:targetSdkVersion="19"/>
    <application android:label="@string/app_name"
                 android:icon="@drawable/retrobox"
    >
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:alwaysRetainTaskState="true"
                  android:launchMode="singleTask"
                  android:screenOrientation="sensorLandscape"
                  android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|uiMode|screenSize|smallestScreenSize"
                  android:windowSoftInputMode="stateUnspecified|adjustPan"
                  android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" 
				android:excludeFromRecents="true" 
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- 
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="tv.ouya.intent.category.GAME" />
                <action android:name="com.sec.android.airview.HOVER" />
                 -->
                
                 <!-- Stupid Samsung requires their own intent for finger-hover events -->
            </intent-filter>
            <intent-filter>
                <action android:name="retrobox.amiga" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
    </application>

    <!-- ==INTERNET== --> <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!-- ==EXTERNAL_STORAGE== --> <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- ==EXTERNAL_STORAGE== --> <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <!-- <uses-permission android:name="android.permission.VIBRATE"></uses-permission> --> <!-- Vibrator not supported yet by SDL -->

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" /> <!-- Allow TV boxes -->
    <!-- ==SCREEN-SIZE-SMALL== --> <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" />

</manifest>
